{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}
{% block body %}
    <h1>Voici toute la liste d'acteurs : </h1>

    {% for actor in actors %}
        <div>
            <a href="{{ path("actor_show", { "actorId": actor.id }) }}">{{ loop.index }} / {{ actor.name }}</a>
        </div>
    {% else %}
        Aucune acteur trouvé.
    {% endfor %}
    <a class="link-return" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}