{% extends 'base.html.twig' %}
{% block title %} Actor {% endblock %}

{% block body %}
    <div>
        <div>
            <h1>{{ actor.name }}</h1>
            <div>
                <p>Liste des séries de cet acteur :</p>
                <ul>
                    {% for program in actor.programs %}
                        <li>
                            <a href="{{ path("program_show", { "programId": program.id }) }}"> {{ program.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <a class="link-return" href="{{ path('actor_index') }}">
        Retour à la liste des acteurs
    </a>
{% endblock %}