{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ 'program.add'|trans }}</h1>
    {{ form_start(form) }}
     {{ form_widget(form) }}
    <input class="btn btn-secondary" type='submit' value='Add program'>
    {{ form_end(form) }}
{% endblock %}