{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        Bienvenue !!
    </h1>
    <a href="{{ path("api_programs") }}">Tu ne sais pas quel film regarder ce soir? Cliques ici</a>
{% endblock %}