<a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ 'categories'|trans }}
</a>
<div class="dropdown-menu">
    {% for category in categories %}
    <a class="dropdown-item" href="{{ path('category_show', {'categoryName': category.name}) }}">{{ category.name }}</a>
    {% endfor %}
</div>